body {
  background-image: url(../assets/images/fondo.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Estilos de efecto splash */
.bg-color {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.effect {
  height: 40vh;
  width: 40vh;
  animation-name: rebote;
  animation-duration: 3s;
  animation-iteration-count: 1;
}

@keyframes rebote {
  0% {
    transform:translateY(-150px);
  }

  25%, 100% {
    transform:translateY(0px);
  }

  50% {
    transform:translateY(-75px);
  }
}

.nameApp {
  margin-left: 1rem;
}
/* Fin de efecto splash */

/* Etilos de login.html */
.bg-fondo {
  background-image: url(../assets/images/fondo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.trans {
  background-color: rgb(244, 236, 232);
  opacity: 0.7;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  height: 20vh;
  width: 20vh;
}

.icon {
  margin-left: 3rem;
}

.line {
  margin-top: 40px;
  margin-bottom: 40px;
  overflow: visible;
}

.line:after {
  content: 'O CONECTATE CON';
  font-size: 16px;
  background-color: rgb(244, 236, 232);
  position: relative;
  top: -0.8em;
  padding: 0 2em;
}

.container {
  padding: 20px;
}
/* Fin de estilos login.html */

/* Inicio de estilos home.html */
.box {
  background-color: white;
  border: 2px solid white;
  border-radius: 5px;
  box-shadow:  0px 2px 7px 3px rgba(88,87,97,1);
}

.box-2 {
  margin-top: 20px;
}

.new-item {
  background-color: white;
  box-shadow:  0px 2px 7px 3px rgba(88,87,97,1);
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  padding: 8px;
}

.chat-block {
  margin: 0 0 40px 0;
  text-align: center;
}

.chat-block .title {
  background: #8dc63f;
  padding: 2px 20px;
  width: 70%;
  height: 30px;
  border-radius: 15px;
  position: relative;
  margin: 0 auto 20px;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
}

.online {
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  margin: 0;
}

.online li {
  display: inline;
  margin: 0 5px;
}

img.profile-photo {
  height: 58px;
  width: 58px;
  border-radius: 50%;
}

.right {
  background-color: white;
  border-radius: 2px;
  padding: 0.2rem 2rem;
  box-shadow:  2px 2px 11px 2px rgba(88,87,97,1);
}

.imagenes {
  display: inline;
}

#imagen {
  display: inline;
}

.border {
  border-radius: 5px;
}

.favorite {
  cursor: pointer;
}

.like {
  color: red;
}

/* Estilos tablet */
@media (min-width: 768px) {

}

/* Estilos desktop */
@media (min-width: 992px) {
  .hearth {
    margin-left: 3.5rem;
  }

  .logo {
    margin-left: 20rem;
  }

  main, footer {
    padding-left: 300px;
  }
}
