<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Enlace Icono de Pestaña-->
    <link rel="icon" href="../assets/images/bebe.ico">
    <!-- Enlace a Bootstrap compilado y minificado-->
    <link rel="stylesheet" href="../vendors/materialize/css/materialize.min.css">
    <!-- Enlace a hoja de estilo externa -->
    <link rel="stylesheet" href="../css/main.css">
    <title>Pataditas</title>
  </head>
  <body>
    <section class="bg-fondo">
      <div class="trans">
        <div class="container">
          <figure class="logo">
            <img src="../assets/images/logo.png" class="responsive-img icon" alt="logo">
          </figure>
          <div class="row center-align">
            <p><strong>"BIENVENIDA A LA RED MAS GRANDE DE GESTANTES"</strong></p>
            <hr class="line">
            <div class="btn-red">
              <a class="waves-effect waves-light btn btn-large red accent-4" id="iniGoogle">Google</a>
              <a class="waves-effect waves-light btn btn-large blue darken-4" id="iniFacebook">Facebook</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Modal Structure 1 -->
    <div id="modal1" class="modal">
      <div class="modal-content">
        <h4>Registrate</h4>
        <div class="row">
          <form class="col s12">
            <div class="row">
              <div class="input-field col s12">
                <input id="email1" type="email" class="validate">
                <label for="email">Email</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <input id="password1" type="password" class="validate">
                <label for="password">Password</label>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat register green accent-4 white-text">Crear cuenta</a>
      </div>
    </div>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <!-- Enlace a Bootstrap compilado y minificado-->
    <script src="https://www.gstatic.com/firebasejs/4.8.1/firebase.js"></script>
    <!-- jQuery (necesario para los complementos de JavaScript de Bootstrap) -->
    <script type="text/javascript" src="../vendors/materialize/js/materialize.min.js"></script>
    <script type="text/javascript" src="../js/main.js"></script>
  </body>
</html>
